{% extends 'base.html' %}

{% block title %}Home{% endblock title %}


{% block body  %} 

<section style="padding: 40px; max-width: 800px; margin: auto; font-family: Arial, sans-serif;">
    <h1 style="font-size: 2.5rem; color: blue; text-align: center;">Welcome to My Developer Portfolio</h1>
    
    <p style="font-size: 1.2rem; color: #444; margin-top: 30px;">
        Hello! I'm Akash Mohan a passionate and dedicated software developer with experience in building dynamic, user-friendly web applications using Django, Python, and modern front-end technologies. This portfolio is a reflection of my journey, skills, and the projects I've done.
    </p>

    <p style="font-size: 1.1rem; color: #444; margin-top: 20px;">
        Feel free to explore more about my background, expertise and Whether you're here to learn about my experience, check out my work, or connect for collaboration — you're in the right place.
    </p>

        </div>
</section>

{% endblock body %}